node_modules/
dist/
*.db
*.db-journal
*.db-wal
*.db-shm
.env
.env.local
*.pem
*.key
*.cert
coverage/
.DS_Store

/tsconfig.tsbuildinfo
./packages/**/tsconfig.tsbuildinfo
data/terminal-logs/*
data/media/*
**/terminal-logs/*
**/media/*